.card-area {
  margin: 0 40%;
  padding: 20% 0;
  .username-input {
    margin-bottom: 5%;
  }
  .btn-area {
    padding-top: 5%;
    .login-btn {
      color: red;
      margin-right: 5%;
    }
  }
}
